<!DOCTYPE html>
<html>
<head>
    {{ bootstrap.load_css() }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <!-- Your navbar has been removed and placed in navbar.html -->
     {% include 'navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{#    {% block scripts %}#}
{#    <!-- JavaScript scripts -->#}
{#    <script>#}
{#  document.addEventListener('DOMContentLoaded', initializeNotifications);#}
{##}
{#  function setMessageCount(n) {#}
{#    const count = document.getElementById('message_count');#}
{#    count.innerText = n;#}
{#    count.style.visibility = n ? 'visible' : 'hidden';#}
{#  }#}
{##}
{#  {% if current_user.is_authenticated %}#}
{#  function initializeNotifications() {#}
{#    let since = 0;#}
{#    setInterval(async function() {#}
{#      const response = await fetch('{{ url_for('views.notifications') }}?since=' + since);#}
{#      const notifications = await response.json();#}
{#      for (let i = 0; i < notifications.length; i++) {#}
{#        if (notifications[i].name == 'unread_message_count')#}
{#          setMessageCount(notifications[i].data);#}
{#        since = notifications[i].timestamp;#}
{#      }#}
{#    }, 10000);#}
{#  }#}
{#  document.addEventListener('DOMContentLoaded', initializeNotifications);#}
{#  {% endif %}#}
{#</script>#}
{#    {% endblock %}#}





    {% block javascript %}
    <script type="text/javascript">
        function deleteNote(noteId) {
            fetch("/delete-note", {
                method: "POST",
                body: JSON.stringify({ noteId: noteId }),
            }).then((_res) => {
                window.location.href = "/";
            });
        }
    </script>
    {% endblock %}

    {{ bootstrap.load_js() }}
</body>
</html>
