{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Edit Profile</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.first_name.label(class="form-label") }}
      {{ form.first_name(class="form-control", placeholder="First Name") }}
    </div>
    <div class="form-group">
      {{ form.about_me.label(class="form-label") }}
      {{ form.about_me(class="form-control", placeholder="About Me") }}
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
{% endblock %}
