{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Messages</h1>
    <div class="messages mt-4">
        {% for message in messages %}
            <div class="card border mb-3">
                <div class="card-body">
                    <h5 class="card-title"><strong>From:</strong> <a href="{{ url_for('views.profile', first_name=message.author.first_name) }}">{{ message.author.first_name }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><strong>Timestamp:</strong> {{ message.timestamp }}</h6>
                    <p class="card-text">{{ message.body }}</p>
                    <a href="{{ url_for('views.send_message', recipient=message.author.first_name) }}" class="btn btn-primary">Reply</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer messages
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older messages <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
