{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      {% if user %}
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{ user.first_name }}</h1>
          <img src="{{ user.avatar(50) }}" class="card-img-top" alt="User Avatar" style="max-width: 100px;">
          <div class="card-text">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>About Me:</strong> {{ user.about_me }}</p>
            <p><strong>Last Seen:</strong> {{ user.last_seen }}</p>
            {% if user == current_user %}
            <a href="{{ url_for('views.edit_profile') }}" class="btn btn-primary">Edit Profile</a>
            {% elif current_user.is_authenticated %}
                <p>
                    <a href="{{ url_for('views.send_message',
                                        recipient=user.first_name) }}">
                        {{ ('Send private message') }}
                    </a>
                </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        No user found.
      </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2 style="position: sticky; top: 0;">My Posts</h2>
          <div class="post-container" style="max-height: 300px; overflow-y: scroll;">
            {% if current_user.blog_posts %}
            <div class="list-group">
              {% for post in current_user.blog_posts %}
              <div class="list-group-item list-group-item-action">
                <!-- Make post title a clickable link -->
                <h5 class="mb-1" style="color: blue;"><a href="{{ url_for('views.post_detail', post_id=post.id) }}">{{ loop.index }}. {{ post.title }}</a></h5>
                <p class="mb-1">{{ post.content[:100] }}{% if post.content|length > 100 %}... <a href="{{ url_for('views.post_detail', post_id=post.id) }}">Read More</a>{% endif %}</p>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
              No posts found.
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <h2 style="position: sticky; top: 0; color: dimgray;">Following Posts</h2>
          {% if user %}
          <div class="post-container" style="max-height: 300px; overflow-y: scroll;">
            <div class="list-group">
              {% for post in user.following_posts() %}
              <div class="list-group-item list-group-item-action">
                <!-- Make post title a clickable link -->
                <h5 class="mb-1"><a href="{{ url_for('views.post_detail', post_id=post.id) }}" style="color: green;">{{ loop.index }}. {{ post.title }}</a></h5>
                <p class="mb-1">{{ post.content[:100] }}{% if post.content|length > 100 %}... <a href="{{ url_for('views.post_detail', post_id=post.id) }}">Read More</a>{% endif %}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div class="alert alert-info" role="alert">
            No following posts found.
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
