{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      {% if user %}
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{ user.first_name }}</h1>
          <img src="{{ user.avatar(150) }}" class="card-img-top" alt="User Avatar">
          <div class="card-text">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>About Me:</strong> {{ user.about_me }}</p>
            <p><strong>Last Seen:</strong> {{ user.last_seen }}</p>
            {% if user == current_user %}
            <a href="{{ url_for('views.edit_profile') }}" class="btn btn-primary">Edit Profile</a>
            {% elif current_user.is_authenticated %}
                <p>
                    <a href="{{ url_for('views.send_message',
                                        recipient=user.first_name) }}">
                        {{ ('Send private message') }}
                    </a>
                </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        No user found.
      </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2>Blog Posts</h2>
      <div class="list-group">
        {% if user and user.blog_posts %}
        {% for post in user.blog_posts %}
        <div class="list-group-item list-group-item-action">
          <h5 class="mb-1" style="color: blue;">{{ loop.index }}. {{ post.title }}</h5> <!-- Display post index -->
          <p class="mb-1">{{ post.content[:100] }}{% if post.content|length > 100 %}... <a href="{{ url_for('views.blogpost', post_id=post.id) }}">Read More</a>{% endif %}</p>
        </div>
        {% if not loop.last %}
        <hr> <!-- Add a horizontal line between each blog post -->
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="alert alert-info" role="alert">
          No blog posts found.
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
